/*
html, body {
    margin:0;
    padding:0;
    height:100%;
}

a:link {
    text-decoration:none;
}

#page {
    position:relative;
    background:white;
    min-height:100%;
}

#header {
    position:fixed;
    left:0px;
    top:0px;
    z-index:1;
    width:100%;
    background-color:white;
    border-bottom: 1px solid black;
 }

#header .top {
    width:100%;
    float:left;
}

#header ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}


#header a {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

#header li {
    display: table-cell;
    padding: 5px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
    
.search_bar{
    width: 1200px;
    height: 60px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
}

.search_bar::placeholder {
    line-height: 3;
    text-align: left;
    padding-left: 10px;
}

.login{
    padding-left: 40px;
}

.panier{
    padding-right: 100px;
}

#footer{
    background-color: #1A1A1A;
    width:100%;
    height: 500px;
}

.bottom{
    font-size: large;
    color: white;
}
*/

footer{
    margin-bottom: 0;
}