.list_orders{
    display: flex;
    padding: 1%;
    margin-top: 230px;
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-collapse: collapse;
    text-align: center;
}

#body{
    margin-top: 250px;
}

th,
td {
    width: 500px;
    padding: 8px;
}

th {
    background-color: #212121;
    color: white;
    height: 50px;
}

#input{
    text-align: center;
    border: none;
}

#input:focus-visible{
    outline: none;
}

#msg_no_order{
    text-align: center;
}

.download_btn{
    border: none;
    background-color: white;
}

.download_btn:hover{
    font-weight: bold;
    color:blue;
}