.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin: 2em;
}


/* Grid inside grid - album cards also use grid for layout setup */
.grid_in {
  background: white;
  box-shadow: 2px 5px 10px rgba(0,0,0,.2);
  padding: 1.5em;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1.5em;
  align-items: center;
  color: black;
  font-weight: 100;
}


/* Important step - image will spill over the container if width is not declared explicitly */
.img {
  width: 150px;
  height: 150px;
  border-radius: 1px;
}

.prix {
  text-align: center;
}

.nom {
  color:black;
}