/* PANIER GLOBAL (CONSTITUE LE GRID PARENT */

.grid_container_panier {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'info_prod info_panier';
    gap: 10px;
    padding-left: 1%;
    padding-right: 1%;
    margin-top:250px;
    margin-left : 100px;
    margin-right: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: red;
}

/* PARTIE GAUCHE */ 

.panier_product_info{
    grid-area:info_prod;
    display: grid;
    grid-template-areas:
    'user'
    'nb_prod'
    'info_order';
    max-width: 800px;
    padding: 40px;
    background-color: green;
}

.user_info{
    grid-area: user;
    width: 500px;
    margin: auto;
}

.img_prod_panier{
    grid-area: img;
    padding: 10px;
}

.photo_prod{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.title_user_info{
    border-bottom: 5px solid black;
    width: 500px;
    height: 30px;
}

.coord{
    float:left;
}

.modify{
    float: right;
    margin-right: 320px;
    font-size: small;
}

.global_info{
    grid-area: global_info;
    margin: auto;
    font-size: medium;
}

.delete_article{
    font-size: small;
}

.info_order{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'img global_info';
    grid-area: info_order;
    margin: auto;
    width: 500px;
    background-color: beige;
}

.nb_prod{
    grid-area:nb_prod;
    border-bottom: 5px solid black;
    width: 500px;
    height: 30px;
    margin: auto;
}

/* PARTIE DROITE */

.grid_info_panier{
    grid-area:info_panier;
    display: grid;
    max-width: 600px;
    background-color: yellow;
}

.info_paiement{
    margin:auto;
}

.order_detail{
    border-bottom: 5px solid black;
    width: 500px;
    height: 30px;
}

.discount_box{
    margin-top: 10px;
}

.btn_payer{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background-color: #212121;
    color: white;
}