/* PANIER GLOBAL (CONSTITUE LE GRID PARENT */

.grid_container_panier {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'progress progress'
    'info_prod info_panier';
    gap: 10px;
    padding : 1%;
    margin-top:250px;
    margin-left : 100px;
    margin-right: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

/* PARTIE GAUCHE */ 

.panier_product_info{
    grid-area:info_prod;
    display: grid;
    grid-template-areas:
    'user'
    'nb_prod'
    'info_order';
    max-width: 800px;
    padding: 40px;
    background-color: green;
}

.user_info{
    grid-area: user;
    width: 500px;
    margin: auto;
}

.img_prod_panier{
    grid-area: img;
    padding: 10px;
}

.photo_prod{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.title_user_info{
    border-bottom: 5px solid black;
    width: 500px;
    height: 30px;
}

.coord{
    float:left;
}

.modify{
    float: right;
    margin-right: 320px;
    font-size: small;
}

.global_info{
    grid-area: global_info;
    margin: auto;
    font-size: medium;
}

.delete_article{
    font-size: small;
}

.info_order{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'img global_info';
    grid-area: info_order;
    margin: auto;
    width: 500px;
    background-color: beige;
}

.nb_prod{
    grid-area:nb_prod;
    border-bottom: 5px solid black;
    width: 500px;
    height: 30px;
    margin: auto;
}

/* PARTIE DROITE */

.grid_info_panier{
    grid-area:info_panier;
    display: grid;
    max-width: 600px;
    background-color: yellow;
}

.info_paiement{
    margin:auto;
}

.order_detail{
    border-bottom: 5px solid black;
    width: 500px;
    height: 30px;
}

.discount_box{
    margin-top: 10px;
}

.btn_payer{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background-color: #212121;
    color: white;
}

/* ------------------------------------------- BARRE DE PROGRESSION --------------------------------------------*/

.stepper-wrapper {
    display: flex;
    text-align: center;
    background-color: white;
    grid-area: progress;
    padding: 30px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 5px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #16C74B;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid #16C74B;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }