#promo-body {
    padding: 1%;
    margin-top: 230px;
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*-----------------------------------*/
