#container_user {
    display: grid;
    margin-top: 225px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "info_acc_user . info_acc_paiement"
        "user_acc_commande . user_add_marketplace"
    ;
    background-color: red;
}

.info_acc_user {
    grid-area: info_acc_user;
    background-color: green;
}
.info_acc_paiement{
    grid-area: info_acc_paiement;
    background-color: grey;
}
.user_acc_commande{
    grid-area: user_acc_commande;
    background-color: rgb(29, 15, 154);

}
.user_add_marketplace{
    grid-area: user_add_marketplace;
    background-color: yellow;

}





.logout {
    text-align: center;
    margin: auto;
}